.circleci/
.github/
.idea/
build/
!build/src/
node_modules/
src/
support/
test/
.dockerignore
.editorconfig
.gitignore
.npmignore
.nvmrc
Dockerfile
eslint.config.mjs
README.md
renovate.json
*.iml
tsconfig.json
tsconfig.prod.json
