td, th {
    vertical-align: top;
    padding: 2px 5px;
    border: 1px solid #DDDDDD;
}
th, li.heading {
    background-color: #BBBBBB;
}
ul {
    margin: 10px 5px 10px;
    list-style: none;
    padding: 0px;
}
li {
    padding: 2px 5px;
}
