<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
    <servlet>
        <servlet-name>geonames</servlet-name>
        <servlet-class>au.edu.usq.adfi.geonames.server.GeoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>geonames</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>au.edu.usq.adfi.geonames.server.GeoContextListener</listener-class>
    </listener>
</web-app>
